logs/
output_wkbks/
pickled/
pydev/notebooks/
pydev/socrata_stuff/
pydev/screendoorstuff
setup/
configs/email_configs_servers
configs/email_config.yaml
configs/email_config_serverm.yaml
configs/metadata-mgmt-tool-31c31a0f34b6.json
pydev/.ipynb_checkpoints/
pydev/.~c9_*
configs/screendoor_configs.yaml
configs/screendoor_configs_server.yaml
wkbk_uploads/
*.pyc
documented_fields/
configs/old/
configs/socrata_config.yaml
